body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.items-table {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.items-table td {
    padding-top: 5px;
}

.items-table .item-container {
    height: 40px;
    width: 100%;   
    box-shadow: 0 0 1px #9c9c9c;
}

.items-table .item-container:hover {
    transition: .3s;
    box-shadow: 0 0 1px black;
}

.item-container .image {
    height: 100%;
    width: 40px;
    float: left;
}

.item-container .item {
    height: 100%;
    width: calc(100% - 46px);
    float: right;
}

.item .item-child {
    float: left;
    margin-left: 10px;
}

.item .url {
    margin-top: 8px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .comment {
    margin-top: 8px;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .detail {
    width: 40px;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.item .detail.active {
    background: rgb(7, 243, 43)
}

.item .detail.inactive {
    background: rgb(119, 119, 127);
}

.item .detail span {
    position: relative;
    top: 7px;
}

.item .delete {
    width: 40px;
    height: 100%;
    cursor: pointer;
    padding-left: 27px;
}

/*-------------- Detail ----------------*/

#detail-holder {
    width: 80%;
    height: 80%;
}

.details-info {
    padding: 5px;
}

.bullet-item {
    font-size: 12px;
    background-color: #222;
    padding: 5px;
    margin-bottom: 30px;
    color: white;
    float: left;
}

.detail-statistic {
    float: right;
    width: 200px;
}

.mods.withline {
    border-bottom: 1px solid #cccccc;
}

.detail-table ul {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#detail-image {
    width: 300px;
    border-color: #af6025;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
    text-align: center;
    font-family: "Fontin-SmallCaps",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-variant-ligatures: none;
    color: #7f7f7f;
    background-color: #000;
    float: left;
    margin-right: 20px;
}

#detail-image .header {
    display: block;
    position: relative;
    font-size: 20px;
    background-repeat: repeat-x;
    background-color: #5a361b;
}

#detail-image .item-stats {
    display: block;
    padding: 7px 12px;
}
#detail-image .item-stats .group {
    display: block;
    margin: 0 auto;      
    padding-top: 10px;
    border-top: 1px solid;
}
.detail-image .item-stats .group.-textwrap {
    font-family: "Fontin-SmallCaps",Verdana,Arial,Helvetica,sans-serif;
    font-variant-ligatures: none;
    color: #8888ff;
}

/*------------------------------*/

#create-holder {
    width: 400px;
    height: 380px;
}

.create-holder {
    padding: 15px;
}

.create-holder .input {
    width: 250px;
}

/*-----------------------------*/

.popup::-webkit-scrollbar {
    width: 2px;
}  

.popup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(231, 1, 1, 0.2);
}
.popup::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}














